.card {
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 10px 5px 10px;
  font-size: 18px;
}

.card p {
  margin: 0 10px;
  color: gray;
  font-size: 14px;
}

.card .tags {
  margin: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card .tags span {
  background-color: #e0f0ff;
  color: #007bff;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 12px;
}

.card button {
  margin: 10px;
  padding: 8px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #0056b3;
}
